@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
}
:root {
    --primary: #000;
    --back-color: #970c0c49;
    --nav-color: #090541;   
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
 
 
  max-width: 100%;
  height: auto;
  display: block;
}


#bg-video {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-color);
    padding: 20px;
    color: rgb(255, 252, 252);

}

body {
    font-family: "Inter", sans-serif;
    color: rgb(15, 15, 15);
    background-color: rgb(69, 75, 75)
}


a {
    text-decoration: none;
    color: var(--nav-color);
}

.inter-uniquifier {
    font-family: "cinzel";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style : normal;
    text-align: center;
}

p.one{border-style: dashed;}

a {
    text-decoration: dashed;
    color: rgb(110, 182, 221);
}

img.large {
    float: center;
    width: 500px;
    height: 650px;
}
img.image {
    float: center;
    width: 550px;
    height: 310px;
}

h2 {
    color:var(--nav-color);
}

section {
    padding: 50px 30px 20px 60px;
    margin-left: 40px;

}





section article p {
   line-height: 1.5;
}

div {
    color: var(--nav-color);
}
 
.centralizar {
  text-align: center;
  
}
.lado {
    text-align: right;
}

h1 {
 color: var(--nav-color);
 
}

h3 {
    color: rgb(87, 85, 85);
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4fb0ff;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
}

.button:hover {
    background-color: #e83b8d;
    transform: translateY(-17px);
}

.img {
    display: inline-block;
    border-radius: 20px;
    transition: 0.5s;
   
}

.img:hover {
    transform: translateY(-17px);
}
.lk{
    justify-content: space-around;
}

.hero {
    text-align: center;
    min-height: 600px;
    display: flex;
    align-items: center;
    padding: 60px;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("assets/images/lykyou.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 600px;
    
}
